.subscripe {
  &__box {
    display: grid;
    grid-template-columns: 1fr;
    margin-inline: auto;
    text-align: center;
    padding-top: 50rem;
    padding-bottom: 38rem;
    border-radius: 34rem;
    outline: 1rem solid rgba(255, 255, 255, 0.08);
    background: linear-gradient(
      180deg,
      rgba(254, 254, 255, 0.01) 0%,
      rgba(255, 255, 255, 0.02) 100%
    );
    box-shadow: 0rem 22rem 18rem 0rem rgba(0, 0, 0, 0.05);
  }
  &__title {
    @include mobile {
      padding-left: 7px;
      padding-right: 7px;
    }
  }
  &__desc {
    margin-top: 13rem;
    margin-bottom: 29rem;
    font: var(--subscripe-desc);
    @include mobile {
      padding-left: 7px;
      padding-right: 7px;
    }
  }

  &__icon {
    position: absolute;
    right: 210rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: none;
    @include tablet-small {
      right: 223rem;
    }
    @include mobile {
      top: 30rem;
      right: 45rem;
    }
  }

  &__input {
    max-width: 860rem;
    width: 100%;
    margin-inline: auto;
    padding: 25rem 10rem 25rem 44rem;
    border-radius: 70rem;
    background: linear-gradient(
      180deg,
      rgba(254, 254, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.05) 100%
    );
    box-shadow: 10rem 24rem 54rem 0rem rgba(0, 0, 0, 0.07);
    outline: 0;
    border: 0;

    color: var(--c-white);
    font: var(--input);

    &::placeholder {
      color: var(--c-white);
      font: var(--input);
    }

    &.is-active {
      + .subscripe__icon {
        display: block;
        path {
          stroke: white;
        }
      }
    }
    @include tablet-small {
      padding: 15rem 10rem 15rem 20rem;
      width: 80%;
    }
  }
  &__btn {
    cursor: pointer;
    max-width: 196rem;
    width: 100%;
    outline: 0;
    border: 0;
    text-align: center;
    justify-content: center;

    position: absolute;
    right: 10rem;
    top: 50%;
    transform: translateY(-50%);

    border-radius: 70rem;
    opacity: 0.9;
    background: var(--c-gradient-btn);
    color: var(--c-white);
    font: var(--input-btn);
    display: flex;
    align-items: center;
    gap: 8rem;
    padding: 15rem 37rem;
    transition: var(--transition);
    &:hover {
      background: var(--c-gradient-btn-backwards);
    }
    @include tablet-small {
      max-width: 152rem;
      width: 100%;
      padding: 7rem 15rem;
      right: 70rem;
    }
    @include mobile {
      font: var(--link);
      padding: 7rem 10rem;
      max-width: 115rem;
      width: 100%;
      position: static;
      top: 0;
      transform: none;
      margin-top: 20rem;
      margin-inline: auto;
    }

    img {
      @include mobile-small {
        display: none;
      }
    }
  }
}

.input-container {
  margin-inline: auto;
  display: flex;
  max-width: 860rem;
  width: 100%;
  position: relative;
  @include tablet-small {
    width: 80%;
  }
  @include mobile {
    flex-direction: column;
  }
}
